<div class="jumbotron">
  <h1>Thanks!</h1>
  <p>Thanks for taking the time to give us your contact 
    information. We'll reach out to you shortly to get 
    you the information you've requested.</p>
  <p><%= link_to 'Next Please', new_visitor_path, 
      :class => 'btn btn-primary btn-lg', :role => 'button' %></p>
</div>
